@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: light;
}

html[data-theme="dark"] {
  color-scheme: dark;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #f4efe4;
}

html[data-theme="dark"] body {
  background: #16120c;
}
